body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.line-img {
    color: red;
    height: 4px;
    width: 100%;
}

.line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add {
    width: 100px;
    height: 40px;
    background: #fc3030;
    border-radius: 15px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    cursor: pointer;
    color: #FFFFFF;
    transition: all .2s;
}

.add:hover {
    background: #b80404;
}

.add:active {
    background: #ee7e7e;
}

.delete-product-btn {
    width: 160px;
    height: 40px;
    background: #fc3030;
    border-radius: 15px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    cursor: pointer;
    color: #FFFFFF;
    transition: all .2s;
}

.delete-product-btn:hover {
    background: #b80404;
}

.delete-product-btn:active {
    background: #ee7e7e;
}

.item-up {
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}


/* //////////////////////////////////////////////////////////////////////////////////////////// down */

.down {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 250px;
    height: 200px;
    border-radius: 8px;
    border: 3px solid rgb(160, 156, 156);
    margin: 20px;
}

.item-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 130px;
}

.item-down-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: black
}

.assignment-text {
    margin: 10px;
}

.assignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}